<section id="about" class="">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-lg-8">
        <h2 class="section-heading">About The Musical Conversation</h2>
        <h3>Background</h3>

        <p class="lead">
          The Musical Conversation features up and coming artists from Los Angeles and beyond. Remember, you heard them here first!
        </p>

        <p class="lead">
          Follow our <a href="https://www.youtube.com/channel/UC5SzlcR3h2gW9bl7tqX2Gzg/videos">YouTube channel</a> and stay tuned for what we have in store.
        </p>

      </div>

    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
