
<section id="about" class="bg-alt">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-xs-12">
        <h2 class="section-heading">About The Musical Conversation</h2>
        <h3>Background</h3>

        <p class="lead">
          The Musical Conversation features up and coming artists from Los Angeles and beyond. Remember, you heard them here first!
        </p>
        
        <p class="lead">
          Stay tuned for what we have in store.
        </p>

      </div>

    </div> <!-- end row -->
  </div> <!-- end container -->
</section>
