<section id="detail" class="bg-alt">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Hutchinson - Musicians Choice Rehearsal</h2>
        <div class="videoWrapper">
          <iframe width="1280" height="720"
              src="https://www.youtube.com/embed/am694JpfDvo"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Albert Bermudez – Living room sessions</h2>
        <div class="videoWrapper">
          <iframe width="1280" height="720"
              src="https://www.youtube.com/embed/rHDpNf-EQ4M"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <h2 class="section-heading">Previous Episodes</h2>
        <div class="videoWrapper">
          <iframe width="1280" height="720"
              src="https://www.youtube.com/embed/videoseries?list=PLu4FAXFJHgaJBNSdnVR7DnfMEVsSJXs1J"
              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
      </div>

    </div>

  </div>
</section>
