<section id="mission" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-sm-12col-lg-8">
        <h2 class="section-heading">Bringing Together Talented Artists</h2>
      </div>
      <div class="col-sm-12 col-lg-8">
          <p>
            Our mission is to showcase the Collaboration of Talents between <strong>musicians</strong>, <strong>camera operators</strong>, and <strong>audio engineers</strong> through rich visual media and production-quality live sound recordings.
          </p>
          <p>
            Through performances and interviews we explore the Artists’ individual paths as well as the Universal Truths that drive their artistic expression.
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8">
          <h2 class="section-heading">Going Behind the Performance</h2>
        </div>
        <div class="col-sm-12 col-lg-8">
          <p>
            Our artist interviews focus on the participation that takes place on and off the screen. At times you may see our Producer perform, or even our Sound Engineer.
          </p>
          <p>
            So sit back, grab a pair of your favorite headphones, and play back one of our spirited performances.
          </p>
          <blockquote>Let The Musical Conversation be your own private concert.</blockquote>
      </div>
      <div class="col-sm-12 col-lg-8">
        <img class="logo-thumb"
          src="{{ '../assets/svg/tmc-dark-bubble.svg' | relative_url }}"
          onerror="this.onerror=null; this.src='{{ \'../assets/img/tmc-dark-bubble.png\' | relative_url }}'"
          alt="{{ site.title }}" title="{{ site.title }}"
        >
      </div>
    </div>

  </div>
</section>
