<section id="mission" class="bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="section-heading">We Bring Together Talented Artists</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <h3>Hutchinson</h3>

            <p class="lead">
              Our most recent jam session features Hutchinson, performing at The Musician's Choice Studios in Culver City.
            </p>
          </div>
      </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ 'assets/img/hutchinson-band-01.jpg' | relative_url }}"
          class="photo" alt="{{ site.title }}" title="{{ site.title }}">
      </div>
      <div class="col-sm-6">
        <img src="{{ 'assets/img/hutchinson-band-02.jpg' | relative_url }}"
          class="photo" alt="{{ site.title }}" title="{{ site.title }}">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

          <p class="lead">
            Hutchison is composed of:
            <ul>
              <li>Daniel Sunshine - Percussion</li>
              <li>Talia Arnold – Guitar & Vocals</li>
              <li>Joseph Watson – Guitar</li>
              <li>Arthur Walton – Guitar</li>
              <li>Paul Cline – Guitar</li>
            </ul>
          </p>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <img src="{{ 'assets/img/hutchinson-band-03.jpg' | relative_url }}"
            class="photo" alt="{{ site.title }}" title="{{ site.title }}">
        </div>
        <div class="col-sm-6">
        <img src="{{ 'assets/img/hutchinson-band-04.jpg' | relative_url }}"
              class="photo" alt="{{ site.title }}" title="{{ site.title }}">
        </div>
    </div>

  </div>
</section>
