<!-- Services Section -->
<section id="mobile-app" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">{{ site.product_name }} - Construct and Design – The Fundamentals</h2>
      </div>

      <div class="col-sm-6">
        <p class="lead">
          <a href="{{ site.app_link }}"">
            <img class="photo" src="assets/img/MAHD-Studio-apple-books-cover.jpg">
            </a>
        </p>
      </div>

      <div class="col-sm-6">
        <h2>Download MAHD Studio's first installment for free</h2>
        <p class="lead">
          We're always looking to improve {{ site.product_name }}.
          Feel free to email us at <a href="mailto:{{ site.email }}}">{{ site.email }}</a> with suggestions.
        </p>
        <p class="lead">
          Looking forward to hearing from you!
        </p>
      </div>
    </div>
  </div>
</section>
